<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>千米网 - 配置管理系统 登录</title>
    <link rel="icon" type="image/ico" th:href="@{/images/favicon.ico}" href="../static/images/favicon.ico"/>
    <!-- EXTJS Import -->
    <LINK rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css"/>
    <LINK rel="stylesheet" type="text/css" th:href="@{/extjs/resources/css/ext-all.css}" href="../static/extjs/resources/css/ext-all.css"/>
    <LINK rel="stylesheet" type="text/css" th:href="@{/extjs/StatusBar/css/statusbar.css}" href="../static/extjs/StatusBar/css/statusbar.css"/>

    <SCRIPT type="text/javascript" th:src="@{/extjs/ext-base.js}" src="../static/extjs/ext-base.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/extjs/ext-all.js}" src="../static/extjs/ext-all.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/extjs/StatusBar/Ext.ux.StatusBar.js}" src="../static/extjs/StatusBar/Ext.ux.StatusBar.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/extjs/StatusBar/Ext.ux.ValidationStatus.js}" src="../static/extjs/StatusBar/Ext.ux.ValidationStatus.js"></SCRIPT>
    <!--<SCRIPT type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.1.1/release/adapter/ext/ext-base.js"></SCRIPT>-->
    <!--<SCRIPT type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.1.1/release/ext-all.js"></SCRIPT>-->

    <!-- our script -->
    <SCRIPT type="text/javascript" th:src="@{/app/view/LoginWin.js}" src="../static/app/view/LoginWin.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/login.js}" src="../static/app/login.js"></SCRIPT>
</head>
<body scroll="no">

</body>
</html>