<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <LINK rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css"/>
</head>
<body>
<div id='categories-content'>
    <div class='section'>
        <h1>Welcome to config center!</h1>

        <div class='left-column'>
            <h3>注意事项</h3>
            <ul class='links'>
                <li><a href="#" rel="Ext" class="docClass">1. xxxxx</a></li>
                <li><a href="#" rel="Ext.Loader" class="docClass">2. xxxxxx</a></li>
                <li><a href="#" rel="Ext.Error" class="docClass">3. xxxxxx</a></li>
            </ul>
        </div>
        <div style='clear:both'></div>
    </div>

</div>
</body>
</html>